.app{
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px (0,0,0,0.1);
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  color: white;
}