.filter{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}

.all-tasks-btn{
  background-color: grey;
}

.ready-tasks-btn{
  background-color: rgb(23, 179, 59);
}

.pending-tasks-btn{
  background-color: rgb(23, 104, 179);
}

.all-tasks-btn:hover{
  background-color: rgb(116, 116, 116);
}

.ready-tasks-btn:hover{
  background-color: rgb(19, 158, 52);
}

.pending-tasks-btn:hover{
  background-color: rgb(18, 89, 156);
}