.todo-input{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.todo-input input{
  flex: 1;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.todo-input button{
  background-color: #4caf50;
}

.todo-input button:hover{
  background-color: #43a047;
}
