.filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}

.allTasksBtn {
  background-color: grey;
}

.readyTasksBtn {
  background-color: rgb(23, 179, 59);
}

.pendingTasksBtn {
  background-color: rgb(23, 104, 179);
}

.allTasksBtn:hover {
  background-color: rgb(116, 116, 116);
}

.readyTasksBtn:hover {
  background-color: rgb(19, 158, 52);
}

.pendingTasksBtn:hover {
  background-color: rgb(18, 89, 156);
}
